body {
  background-color: #e4e3df;
}
.header {
  background-color: #4f51b2;
  height: 301px;
  margin: auto 0;
}
.bodyLandingOne {
  background-color: #d39957;
  height: 500px;
  width: 50%;
  margin: auto 0;
  float: left;
}
.bodyLandingTwo {
  background-color: #8ac0d8;
  height: 250px;
  width: 50%;
  margin: auto 0;
  float: right;
}
.bodyLandingThree {
  background-color: #ffdea7;
  height: 125px;
  float: right;
  margin: auto 0;
  width: 25%;
}
.bodyLandingFour {
  background-color: #b5a95f;
  height: 250px;
  float: right;
  margin: auto 0;
  width: 25%;
}
.buttons {
  display: inline-block;
}
.reset {
  background-color: #ce4111;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto 0;
}
.container {
  border: 5px solid #c64e1f;
  background-color: #a8a18e;
  width: 600px;
  height: auto;
  margin: 0 auto;
  display: block;
}
.timer {
  float: right;
}
h1 {
  font-family: "Poiret One", cursive;
  color: #413026;
  margin: 0 auto;
  width: 300px;
  padding: 15px;
}
h2 {
  font-family: "Poiret One", cursive;
  color: #413026;
  margin: 0 auto;
  width: 300px;
  padding: 5px;
}
.tile {
  width: 100px;
  height: 100px;
}
#timer {
  font-size: 50px;
  float: right;
  position: absolute;
  top: 200px;
  left: 20px;
}
